MONGO_URL=mongodb+srv://jamesesteban08:j1BLn94GjHoOb6pn@cluster0.bzdq1.mongodb.net/docu_gen?retryWrites=true&w=majority&appName=Cluster0



OPENAI_API_KEY=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