@font-face {
    font-family: 'Telegraf UltraBold';
    src: url('/fonts/Telegraf UltraBold 800.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }

@font-face {
    font-family: 'Telegraf Regular';
    src: url('/fonts/TelegrafRegular_272984568a25d8528fe2de8b20b29011.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro Regular';
    src: url(/fonts/SOURCESANS3-REGULAR.TTF) format('truetype');
    font-style: normal;
  }

@font-face {
    font-family: 'SourceSansPro Bold';
    src: url('/fonts/SOURCESANS3-BOLD.TTF') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro Italic';
    src: url('/fonts/SOURCESANS3-ITALIC.TTF') format('truetype');
    font-style: italic;
  }

@font-face {
    font-family: 'SourceSansPro Bold Italic';
    src: url('/fonts/SOURCESANS3-BOLDITALIC.TTF') format('truetype');
    font-style: italic;
  }

@font-face {
    font-family: 'Poppins Regular';
    src: url('/fonts/POPPINS-REGULAR.TTF') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('/fonts/POPPINS-BOLD.TTF') format('truetype');
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins Bold Italic';
    src: url('/fonts/POPPINS-BOLDITALIC.TTF') format('truetype');
    font-style: normal;
  }

@font-face {
    font-family: 'Poppins Italics';
    src: url('/fonts/POPPINS-ITALIC.TTF') format('truetype');
    font-style: italic;
}

h1 {
  font-family: 'Poppins Bold';
  font-size: 26px;
}

p {
  font-family: 'SourceSansPro Regular';
  font-size: 14px;
}